@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap');

:root {
  --color-background: #FFFDF5;
  --color-section: #7DB8AD;
  --color-primary: #3F3D49;
  --color-secondary: #081631;

  --font-special: 'Caveat';
  --font-regular: "Outfit";

  font-family: var(--font-special);
  color: var(--color-primary);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  all: unset;
  display: inline-block;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}